{% extends "nav/base nav.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abs</title>
    <link rel="stylesheet" href="/static/css/exercises.css">
    <link rel="stylesheet" href="/static/css/nav-bar.css">
</head>
<body>

    <div class="exercises">
        {% with messages = get_flashed_messages()%}
{% if messages%}
    {% for message in messages%}
    <p class="flashed-error">{{message}}</p>
    {%endfor%}
    {%endif%}
    {%endwith%}
        <div class="exercise">
            <img src="/static/images/abs/abdominal crunches.png" alt="">
        <form action="/abs" method="POST">
            <input type="number" name="sets" id="sets" placeholder="Sets" min="1" max="4"  required>
            <input type="number" name="reps" id="reps" placeholder="reps" min="1" max="15" required>
            <input type="text" name="exercise" value="abdominal crunches" id="" readonly>
            <input type="submit" name="Add" id="submit" value="Add">
        </form>
        </div>
        <div class="exercise">
            <img src="/static/images/abs/Bicycle Crunch.png" alt="">
            <form action="/abs" method="POST">
            <input type="number" name="sets" id="sets" placeholder="Sets" min="1" max="4"  required>
            <input type="number" name="reps" id="reps" placeholder="reps" min="1" max="15" required>
            <input type="text" name="exercise" value="Bicycle Crunch" id="" readonly>
            <input type="submit" name="Add" id="submit" value="Add">
        </form>
        </div>
        <div class="exercise">
            <img src="/static/images/abs/hanging leg raises.png" alt="">
            <form action="/abs" method="POST">
            <input type="number" name="sets" id="sets" placeholder="Sets" min="1" max="4"  required>
            <input type="number" name="reps" id="reps" placeholder="reps" min="1" max="15" required>
            <input type="text" name="exercise" value="Hanging Leg Raises" id="" readonly>
            <input type="submit" name="Add" id="submit" value="Add">
        </form>
        </div>
        <div class="exercise">
            <img src="/static/images/abs/Russian Twist.png" alt="">
            <form action="/abs" method="POST">
            <input type="number" name="sets" id="sets" placeholder="Sets" min="1" max="4"  required>
            <input type="number" name="reps" id="reps" placeholder="reps" min="1" max="15" required>
            <input type="text" name="exercise" value="Russian Twist" id="" readonly>
            <input type="submit" name="Add" id="submit" value="Add">
        </form>
        </div>
    </div>

<script src="/static/js/navToggle.js"></script>

</body>
</html>
{%  endblock %}
