{% extends "nav/base nav.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer Page</title>
    <link rel="stylesheet" href="/static/css/train.css">
    <link rel="stylesheet" href="/static/css/nav-bar.css">
</head>
<body>

<h4 >
Which muscle group you're targeting today {{user | title}} ?
</h4>
<div class="muscle-groups">
    <div class="arms">
        <h3>Arms</h3>
        <img src="/static/images/arms/bicep curls.png">
        <a href="/arms">Select</a>
    </div>
    <div class="back">
        <h3>Back</h3>
        <img src="/static/images/back/single arm bent over row.png">
        <a href="/back">Select</a>
    </div>
    <div class="chest">
        <h3>Chest</h3>
        <img src="/static/images/chest/barbell bench press.png">
        <a href="/chest">Select</a>
    </div>
    <div class="legs">
        <h3>Legs</h3>
        <img src="/static/images/legs/squats.png">
        <a href="/legs">Select</a>
    </div>
    <div class="abs">
        <h3>Abs</h3>
        <img src="/static/images/abs/abdominal crunches.png">
        <a href="/abs">Select</a>
    </div>
    <div class="full-body">
        <h3>Full body</h3>
        <img src="/static/images/fullbody/pullups.png">
        <a href="/fullbody">Select</a>
    </div>
</div>
<script src="/static/js/navToggle.js"></script>

</body>
</html>
{% endblock %}
