body{
    overflow-x: hidden;
    overflow-y: hidden;
}
.main{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(29, 29, 29);
    flex-direction: column;
    justify-content: center;
}
h1{
    font-size: 10rem;
    text-align: center;
    color: red;
}
h2{
    color: red;
    text-align: center;
}
a{
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    padding:10px;
    background-color: brown ;
    width: fit-content;
    margin: 0 auto;
    border-radius: 20px;
}