body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 1rem;
    overflow-x: hidden;

}

.main{
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    justify-content: space-evenly;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.quote h1{
    text-align: center;
}
.quote,
.info {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.quote {
    justify-content: space-between;
}
.info h2 {
    opacity: 0.8;
    font-size: 2.5rem;
}

.info .sets,
.info .reps
{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
}
.quote{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    padding: 10px;
    height: 100px;
    align-self:center;

}

.info .sets,
.info .reps {
    font-size: 1.2rem;
}

.app-name > h1,
.app-name > i {
    color: #ddd;
    text-align: center;
    font-size: 4rem;
    margin: 40px;
    font-weight: bold;
}

.quote a,
.quote a:visited {
    color: #ddd;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 15px;
    margin: 15px;
    transition: all 0.3s ease;
}

.quote a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
i{
    color: white;
}
.container > h2{
    align-self:safe;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(31, 99, 18);
    padding: 2px;
    background-color: #c2fbd7;
    border-radius: 10px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;

}
