body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url("images/anastase-maragos-9dzWZQWZMdE-unsplash\ 1.png");
    background-size: cover;
}


h1 {
    text-align: center;
}

.exercises {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-gap: 50px;
    justify-items: center;
    justify-content:center;
    
}

.exercise {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 60px;
}

.exercise:hover {
    transform: scale(1.1);
}
.exercise h4 {
    display: none;
    margin-bottom: 10px;
}

.exercise img {
    max-width: 100%;
    border-radius: 8px;
}

input[type="number"],
input[type="text"] {
    margin-bottom: 15px;
    display: block;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    margin: 0 auto;
}

input[type="submit"] {
    background-color: #009688; 
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #00796b;
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}