.nav-bar {
    display: flex;
    background-color: #111;
    padding: 20px 40px;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    color: #ddd;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
    width: 95%;
}

.nav-bar > .welcome {
    display: flex;
    align-items: center;
}

.nav-bar > .welcome h2 {
    margin-right: 20px;
    font-size: 2rem;
}

.nav-bar > .welcome > i {
    font-size: 28px;
}

.nav-bar > .links > a, .nav-bar > .links > a:visited {
    color: #ddd;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 15px;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.nav-bar > .links > a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
