
body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url("images/anastase-maragos-9dzWZQWZMdE-unsplash\ 1.png");
    background-size: cover;
    color: white; 
}


.main {
    padding: 20px;
}

.profile {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
}

.profile h3 {
    color: white;
}

.info-section {
    display: flex;
}

.info-front p,
.info-back p {
    margin: 5px 0;
}

form{
    background-color:#333;
    margin:0 auto;
    margin-top:6px;
    border-radius: 10px;
    padding:5px;
    width: fit-content; 
    font-size: 20px;
    text-align: center;

}
form input{
    border: none;
}
.log {
    margin-top: 20px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

.log h1 {
    color: white; 
}

.log table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #222;
    color: white;
}

th,
td {
    padding: 10px;
    border: 1px solid white;

}
td{
    color: #222;
}

th {
    text-align: left;
}

.footer {
    margin-top: 20px;
    background-color: #333; 
    padding: 20px;
    border-radius: 10px;
}

.footer p {
    margin: 0;
}

