
{% block nav %}
<div class="nav-bar">

    <div class="welcome">
    <h2>Welcome {{current_user.username}}</h2>
    <i class="fa-solid fa-person-running"></i>
    </div>

    <!-- Navigation links -->
    <div class="links">
     <a href={{ url_for('views.home') }} id="sign-out">Home</a> 
     <a href={{ url_for('views.profile') }} id="sign-out">Profile</a> 
     <a href={{ url_for('views.trainer') }} id="sign-out">Exercises</a> 
     <a href={{ url_for('auth.logout') }} id="sign-out">Sign Out</a> 
    </div>

</div>
<!-- Navigation toggle buttons -->
<div class="nav-toggle" style="
display: flex;
justify-content: space-evenly;
width: 50%;
margin: 0 auto;
">
<button style ="
margin-top: 20px;
color: rgb(255, 255, 255);
background-color: #333;
padding: 20px;
border-radius: 10px;
border: 1px;
"
id="show-nav"">Show Nav bar</button>
<button style="
margin-top: 20px;
color: rgb(255, 255, 255);
background-color: #333;
padding: 20px;
border-radius: 10px;
border: 1px;
"
id="remove-nav">Hide Nav bar</button>
</div>
{% endblock %}
{% block body %}

{% endblock %}
