{% extends "base nav.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full body</title>
    <link rel="stylesheet" href="/static/exercises.css">
    <link rel="stylesheet" href="/static/nav-bar.css">

</head>
<body>

    <div class="exercises"></div>

<script src="/static/exercises.js"></script>
<script src="/static/navToggle.js"></script>
</body>
</html>
{%  endblock %}